@use 'sass/sass' as *;

:root {
  // Colors
  --frame-color: white;
  --background: #{$alabaster};
  --background--offset: #f1f1f1;
  --foreground: #171717;
  --foreground--muted: #{$charcoal};
  --heading-color: #{$oxford-blue};
  --heading-color-accent: #{$crayola-red};
  --link-color: #{$oxford-blue};
  --link-underline-color: #{$crayola-red};
  --link-hover-color: #{$charcoal};
  --focus-color: #{$oxford-blue};

  // Widths
  --content-width: 800px;
  --frame-width: #{units(1)};
  --gap: 2rem;
  --photo-gap: 0.5rem;
  --general-padding: #{units(2)};

  // Font sizes
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --42px: 2.625rem;
  --48px: 3rem;
  --64px: 4rem;
  --80px: 5rem;

  @media (min-width: $tablet) {
    --frame-width: #{units(1.5)};
    --gap: 5rem;
    --general-padding: #{units(3)};
  }
  @media (min-width: $desktop) {
    --general-padding: #{units(4)};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --frame-color: black;
    --background: #0a0a0a;
    --background--offset: #2e2e2e;
    --foreground: #{$alabaster};
    --foreground--muted: #{$alabaster--muted};
    --heading-color: #{$alabaster};
    --link-color: #{$alabaster};
    --focus-color: #{$naples-yellow};
    --link-hover-color: #{$alabaster};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--frame-color);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-raleway);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  border: var(--frame-width) solid var(--frame-color);
  line-height: 1.65;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.post-page {
  background-color: var(--frame-color);
  border: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-noto-serif);
}

h1,
h1:focus {
  outline: none !important;
}

p {
  margin-bottom: units(1);
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration-color: var(--link-underline-color);
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  text-decoration: none;
}

ins {
  font-style: italic;
  text-decoration: none;
}

// Focus styles
button,
.button {
  &:not([disabled]) {
    &:focus {
      outline: 0.2rem solid var(--focus-color);
      outline-offset: 0;
    }
  }
}

[href],
[tabindex] {
  &:focus {
    outline: 0.2rem solid var(--focus-color);
    outline-offset: 0.1rem;
  }
}

// Site wrapper
.site-wrap {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 var(--general-padding);
}

// Generic page titles
.page-title {
  font-size: var(--42px);
  margin: units(3) 0;

  @media (min-width: $tablet) {
    font-size: var(--48px);
    max-width: 24ch;
  }

  @media (min-width: $desktop-lg) {
    font-size: var(--80px);
    max-width: 22ch;
  }
}

// Prose
.prose {
  > p,
  > ul,
  > ol,
  > blockquote,
  > div,
  > h1,
  > h2:not(.content-block__heading),
  > h3,
  > h4,
  > h5,
  > h6,
  > figure,
  > table,
  > hr,
  > pre,
  > code {
    font-size: var(--16px);
    margin: 1em 0;
    max-width: 66ch;
    @media (min-width: $tablet) {
      font-size: var(--18px);
    }
  }

  blockquote {
    border-left: 4px solid $naples-yellow;
    color: var(--foreground--muted);
    font-family: var(--font-noto-serif);
    font-style: italic;
    padding-left: units(2);
    margin: 2em 0;
    p:last-child {
      margin-bottom: 0;
    }
  }

  .intro {
    font-family: var(--font-noto-serif);
    font-size: var(--20px);
    font-style: italic;
    margin-bottom: 0;
    @media (min-width: $tablet) {
      font-size: var(--24px);
    }
  }

  figure {
    font-size: var(--14px);
  }

  > h1 {
    line-height: 1.35;
    margin: 4rem 0 0;
    font-size: var(--36px);
    @media (min-width: $tablet) {
      font-size: var(--48px);
    }

    @media (min-width: $desktop-lg) {
      font-size: var(--64px);
    }
  }

  > h2:not(.content-block__heading) {
    line-height: 1.35;
    font-size: var(--24px);
    margin-bottom: 0;
    @media (min-width: $tablet) {
      font-size: var(--32px);
    }
  }

  > h3 {
    line-height: 1.35;
    font-size: var(--20px);
    margin-bottom: 0;
    @media (min-width: $tablet) {
      font-size: var(--24px);
    }
  }
}

// Content block
.content-block {
  border-top: var(--frame-width) solid var(--frame-color);
  padding: var(--general-padding);
}

.content-block--xy-only {
  border: none;
  padding: 0 var(--general-padding);
}

.content-block__wrap {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
  @media (min-width: $tablet) {
    padding: 0 var(--general-padding);
  }
}

.content-block__heading {
  border-bottom: 4px solid var(--foreground--muted);
  display: inline-block;
  font-size: var(--24px);
  font-weight: 900;
  margin-bottom: 0;
  @media (min-width: $desktop) {
    font-size: var(--32px);
    margin-bottom: units(1);
  }
}

.content-block__more {
  font-size: var(--20px);
  margin-top: units(2);
  text-align: right;

  a {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

// Syntax highlighting
[data-highlighted-line] {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
}

figure[data-rehype-pretty-code-figure] {
  counter-reset: codeblock-line;

  [data-language='prompt'] {
    white-space: unset;
    [data-line] {
      display: block;
    }
  }

  [data-line-numbers] [data-line] {
    counter-increment: codeblock-line;

    &::before {
      color: $charcoal;
      content: counter(codeblock-line);
      padding-right: 1rem;
    }
  }
}

// Utility classes
.site-padding-bottom {
  padding-bottom: var(--general-padding);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Dark mode switcher
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
