@use '../../../styles/sass/sass.scss' as *;

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-list__item {
  margin: units(2.5) 0 0;

  @media (min-width: $desktop-lg) {
    border-bottom: 0;
    margin-top: units(1);
  }
}

.posts-list__heading {
  font-size: var(--24px);
  line-height: 1.35;
  margin: 0;
}

.posts-list__photo-link {
  display: block;
  img {
    width: 100%;
    height: auto;
  }
}

.posts-list__link,
.posts-list__link:visited {
  color: var(--heading-color);
  text-decoration: none;
}

.posts-list__link:hover,
.posts-list__link:focus {
  color: var(--heading-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
}

.posts-list__excerpt {
  margin-bottom: 0;
  max-width: 48ch;
}

.posts-list__date {
  color: var(--foreground--muted);
  font-size: var(--14px);
  margin-bottom: units(0.5);
}

/*=========================
Variants
===========================*/
.posts-list--column .posts-list__item {
  margin-bottom: units(4);
}

.posts-list--grid,
.posts-list--grid-med,
.posts-list--grid-wide {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: units(5);

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.posts-list--grid {
  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.posts-list--grid-med {
  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    .posts-list__item {
      margin-bottom: units(3);
    }
  }
}

.posts-list--grid-wide {
  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    .posts-list__item {
      margin-bottom: units(3);
    }
  }
}
