@use '../../../styles/sass/sass.scss' as *;

.prompt {
  background-color: var(--background--offset);
  border-radius: 8px;
  display: flex;
  gap: 0.75em;
  margin: 1em 0;
  padding: units(1) units(2) units(1) units(1);
  align-items: flex-start;

  &__avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--foreground--muted);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__initial {
    font-size: var(--14px);
    font-weight: 900;
    color: var(--background);
  }

  &__content {
    flex: 1;
    line-height: 1.6;
    width: 0;

    *:last-child {
      margin-bottom: 0;
    }

    figure[data-rehype-pretty-code-figure] {
      margin-bottom: 1em;
    }

    // Support for inline code in MDX
    code {
      padding: 2px 4px;
      border-radius: 3px;
      font-size: 0.9em;
    }
  }
}
